* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fcfbfb;
  font-family: Raleway, Arial, sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
}
h2 {
  margin: 0;
}

.icon {
  padding-top: 10px;
}
.logo {
  width: 80px;
}

#logo_link {
  padding-top: 5px;
}

#id {
  max-width: 1600px;
  margin: 0 auto;
}
#hero, header {
  text-align: center;
}

#background {
  height: 725px;
}

body {
  background-color: #F9f9f9; 
}
header {
  background-color: #15616D;
}

nav {
  background-color: #001524;
}
nav a {
  color: #FFECD1;
  text-decoration: none;
  padding-left: 35px;
  padding-right: 35px;
}

nav a:hover {
  background-color: #396E94;
}


.book,
.join {
  color: #f9f9f9;
  background-color: #396E94;
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
}

.button-box {
  margin-top: 25px;
  font-size: 18px;


}

#hero-msg{
  color: #396E94;

  background-color: #F9f9f9;
 }

 .book:hover,
 .join:hover{
  color: #FF7D00;
 }

#background{
  background-color: #001524;
}

.msg {
  color: #FFECD1; 
  background-color: #001524;
  line-height: 1.5em;
  padding: 35px;
}

.msg p {
  font-size: .8em;
  padding-bottom: 15px;
}

.card-img {
  border: 10px solid #001524;
}

footer {
  background-color: #15616D;
  padding: 25px 50px;
  margin-top: 200px;
}

footer p {
  font-size: 1.2em;
} 

footer p a {
  color: #001524;
  text-decoration: none;
  
}

footer p a:hover {
  text-decoration: underline;
}

footer .social img {
  padding-top: 15px;
}

.home-title {
  margin-top: 10px;
  font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
  font-size: 2em;
}

.rivers-card,
.camping-card, .rapids-card {
  margin: 200px 0;
}